#toolbar-markdown {
    background-color: transparent;
    background-image: url("icon_markdown.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-clip: content-box;

    &.selected {
        background-position: -24px 0;
    }
}
